# PERQemu configuration file, written 7/7/2025 5:00:11 PM
# PERQemu v0.7.7 ('As the sparks fly upwards.')
configure
default
name t2s6lisp
description "PERQ-2/T2, Maxtor XT1105, POS G.6/Accent S6+Lisp M3"
chassis PERQ2Tx
cpu PERQ1a
memory 2048
io board EIO
display Landscape
tablet Kriz
option board None
drive 0 Floppy 
drive 1 Disk5Inch Disks/s6mfm.prqm
drive 2 Disk5Inch 
done
